version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      auto-merge-minor-and-patch:
        update-types:
          - "minor"
          - "patch"
        patterns:
          - "*"
        exclude-patterns:
          - "org.apache.camel:*"
          - "org.apache.camel.springboot:*"
      major-updates:
        update-types:
          - "major"
        patterns:
          - "*"
        exclude-patterns:
            - "org.apache.camel:*"
            - "org.apache.camel.springboot:*"
      camel-updates:
        update-types:
          - "major"
          - "minor"
          - "patch"
        patterns:
          - "org.apache.camel:*"
          - "org.apache.camel.springboot:*"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "eclipse-temurin"
        update-types: [ "version-update:semver-major" ]

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"