apiVersion: v1
kind: ConfigMap
metadata:
  name: {{.Release.Name}}-psql-connection
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{.Release.Name}}
    shortname: kingu
    team: ror
data:
  INSTANCES: {{.Values.sql.instance}}
