apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.deployment.name }}-config
  namespace: {{ .Release.Namespace }}
  labels:
  {{- include "common.labels" . | indent 4 }}
data:
  application.properties: |-
    #database
    spring.datasource.url=jdbc:postgresql://localhost:5432/tiamat
    spring.datasource.username=tiamat
    spring.jpa.database=POSTGRESQL
    spring.sql.init.platform=postgres
    spring.jpa.database-platform=org.hibernate.dialect.PostgreSQL9Dialect
    spring.jpa.properties.hibernate.hbm2ddl.import_files_sql_extractor=org.hibernate.tool.hbm2ddl.MultipleLinesSqlCommandExtractor
    spring.jpa.hibernate.hbm2ddl.import_files_sql_extractor=org.hibernate.tool.hbm2ddl.MultipleLinesSqlCommandExtractor
    spring.jpa.properties.hibernate.dialect=org.hibernate.spatial.dialect.postgis.PostgisDialect
    spring.jpa.hibernate.id.new_generator_mappings=true
    spring.jpa.hibernate.use-new-id-generator-mappings=true
    spring.jpa.properties.hibernate.cache.use_second_level_cache=false
    spring.jpa.properties.hibernate.cache.use_query_cache=false
    spring.jpa.properties.hibernate.cache.use_minimal_puts=false
    spring.jpa.properties.hibernate.jdbc.batch_size=20
    spring.jpa.properties.hibernate.default_batch_fetch_size=16
    spring.datasource.hikari.maximumPoolSize=40
    spring.datasource.hikari.leakDetectionThreshold=60000


    spring.jpa.hibernate.ddl-auto=none
    #camel
    camel.springboot.main-run-controller=true
    camel.springboot.use-breadcrumb=true

    kingu.incoming.camel.route.topic.netex.export=entur-google-pubsub:KinguExportIncomingQueue
    kingu.outgoing.camel.route.topic.netex.export=entur-google-pubsub:KinguExportOutgoingQueue
    #spring
    spring.jpa.open-in-view=false


    #netex
    netex.profile.version:1.12:NO-NeTEx-stops:1.4

    spring.profiles.active=gcs-blobstore


    spring.cloud.gcp.project-id={{ .Values.configMap.gcpProjectId }}
    spring.cloud.gcp.pubsub.project-id={{ .Values.configMap.pubSubProjectId }}
    spring.cloud.gcp.pubsub.credentials.location=file:/etc/kingu/credentials.json
    spring.cloud.gcp.pubsub.enabled=true
    #entur.pubsub.subscriber.autocreate=true

    #pubsub
    blobstore.gcs.project.id={{ .Values.configMap.blobstoreProjectId }}
    blobstore.gcs.bucket.name={{ .Values.configMap.gcsBucketName }}
    blobstore.gcs.blob.path=export
    blobstore.gcs.credential.path=/etc/kingu/credentials.json

    # Actuator
    management.server.port=9001
    management.endpoints.enabled-by-default=false
    management.endpoint.info.enabled=true
    management.endpoint.health.enabled=true
    management.endpoint.prometheus.enabled=true
    management.endpoints.web.exposure.include=info,health,prometheus
