name: Build and push
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  maven-verify:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          java-version: 21.0.1+12
          distribution: liberica
          cache: 'maven'
      - run: mvn verify
      - uses: actions/upload-artifact@v4.6.2
        with:
          path: target/*.jar
  docker-lint:
    needs: [maven-verify]
    uses: entur/gha-docker/.github/workflows/lint.yml@v1
  docker-build:
    needs: [maven-verify]
    uses: entur/gha-docker/.github/workflows/build.yml@v1
    with:
      build_artifact_name: artifact
      build_artifact_path: target
  docker-push:
    if: github.repository_owner == 'entur' && github.event_name == 'push'
    needs: [docker-build]
    uses: entur/gha-docker/.github/workflows/push.yml@v1

  docker-scan:
    needs: [docker-build]
    uses: entur/gha-security/.github/workflows/docker-scan.yml@v2
    with:
      image_artifact: ${{ needs.docker-build.outputs.image_artifact }}